.viewport
{
	overflow: auto;
	background-color: beige;
}
.ground
{
	position: relative;
	overflow: hidden;
}
.snapped
{
	position: absolute;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
}
.sprite
{
	background-clip: border;
}
.sprite.tall,
.character
{
	height: 48px;
	margin-top: -16px;
}
.character
{
	background-image: url('http://i.imgur.com/EUdDa8b.png');
}
