.viewport
{
	overflow: auto;
	background-color: beige;
}
.ground
{
	position: relative;
	overflow: hidden;
}
.snapped
{
	position: absolute;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
}
.sprite
{
	background-clip: border;
}
.sprite.chara
{
	background-image: url('chara.png');
}
